<h2>Follower Users</h2>

<% if @users.exists? %>
<div class="container w-auto">
 <div class="row w-auto h-25">
  <div class="col-md-12">

<% @users.each do |user| %>
<table class="table">
 <tr>
  <th>image</th>
  <th>name</th>
  <th colspan="3"></th>
 </tr>
 
 <tr>
  <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
  <td><%= user.name %></td>
  <td>フォロー数:<%= user.followings.count %></td>
  <td>フォロワー数:<%= user.followers.count %></td>
  <td><%= link_to 'Show', user %></td>
 </tr>
</table>
<% end %>
  </div>
 </div>
</div>
<% else %>
<p>ユーザーはいません</p>
<% end %>