  <h3>投稿数の前日比・先週比</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @today_book.count %></td>
          <td><%= @yesterday_book.count %></td>
          <% if @yesterday_book.count == 0 %>
          <td>前日の投稿はなし</td>
          <% else %>
          <td><% @the_day_before = @today.book.count / @yesterday_book.count %>
              <%= (@the_day_before * 100).round %>%</td>
          <% end %>
        </tr>
        
        <tr>
          <td>今週の投稿数</td>
          <td>先週の投稿数</td>
          <td>先週比</td>
        </tr>
        <tr>
          <td><%= @this_week_book.count %></td>
          <td><%= @last_week_book.count %></td>
          <% if @last_week_book.count == 0 %>
          <td>先週の投稿はなし</td>
          <% else %>
          <td><% @the_week_before = @this_week_book / @last_week_book %>
              <%= @the_week_before * 100 %>%</td>
          <% end %>
        </tr>
      </tbody>
    </table>